Repository samplec0de/lyrics-ide-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: no_implicit_optional, isort, autoflake, black, pylint

no_implicit_optional:
  name: no_implicit_optional
  entry: bash -c 'no_implicit_optional --use-union-or "$@"' --
  language: system

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --line-length=120
  - --multi-line=3
  - --force-grid-wrap=0
  - --trailing-comma
  - --use-parentheses
  - --ensure-newline-before-comments

autoflake:
  name: autoflake
  entry: autoflake
  language: python
  require_serial: true
  args:
  - --in-place
  - --expand-star-imports
  - --remove-duplicate-keys
  - --remove-unused-variables
  - --remove-all-unused-imports
  - --ignore-pass-after-docstring

black:
  name: black
  entry: black
  language: system
  args:
  - -l
  - '120'
  - -t
  - py312

pylint:
  name: pylint
  entry: bash -c 'PYTHONPATH=. pylint "$@"' --
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc
  - --ignore-imports=true

[1.1.4] Обновление версий зависимостей github actions
  .github/workflows/deploy-prod.yml
Due: none

[WIP] Миграции в CI/CD
  .github/workflows/deploy-prod.yml
Due: none

[1.1.5] Миграции бд в CI/CD
  .github/workflows/deploy-prod.yml
  app/main.py
Due: no_implicit_optional

nginx.ingress.kubernetes.io/proxy‑read‑timeout: "360"
  k8s/manifests/backend-ingress.yaml
Due: none

[1.2.0] Добавлена дата создания проекта (created_at)
  app/alembic/versions/bf5af2fe4765_add_created_at_for_project.py
  app/api/routers/project.py
  app/api/schemas.py
  app/main.py
  app/models/project.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.2.0] Добавлена дата создания проекта (created_at)
  k8s/manifests/backend-ingress.yaml
Due: none

[1.3.0] Добавлена дата последнего изменения проекта (updated_at)
  app/alembic/versions/66cc1260c9c2_add_updated_at_for_project.py
  app/api/routers/project.py
  app/api/schemas.py
  app/main.py
  app/models/project.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.4.0] Добавлена дата создания и последнего изменения текста (created_at, updated_at)
  app/alembic/versions/de98df6c76fe_add_updated_created__at_for_text.py
  app/api/routers/text.py
  app/api/schemas.py
  app/main.py
  app/models/text.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.5.0] Добавлены liveness и readyness пробы, включен rollingUpdate
  app/api/routers/health.py
  app/main.py
  k8s/manifests/backend.yaml
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.5.0] Добавлены liveness и readyness пробы, включен rollingUpdate
  app/main.py
Due: no_implicit_optional

[1.5.0] Добавлены liveness и readyness пробы, включен rollingUpdate
  k8s/manifests/backend.yaml
Due: none

[1.6.0] Мок поиска рифм заменен на обращение к gpt3,5
  app/api/routers/word.py
  app/config.py
  app/llm.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.7.0] GET /projects/ выдает только те проекты, что пользователь создал через POST /projects/
  app/alembic/versions/7b96302bf5d3_add_project_grant.py
  app/api/annotations.py
  app/api/routers/project.py
  app/api/routers/word.py
  app/auth.py
  app/main.py
  app/models/__init__.py
  app/models/grant.py
  app/models/project.py
  app/models/user.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.7.0] GET /projects/ выдает только те проекты, что пользователь создал через POST /projects/
  app/api/routers/health.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

Новые задержки livenessProbe, readinessProbe
  k8s/manifests/backend.yaml
Due: none

[1.8.0] Реализованы эндпоинты /grants/* для создания кода доступа к проекту и его активации
  app/alembic/versions/bad27ab62c07_add_project_grant_code.py
  app/alembic/versions/d9414be73952_add_gc_is_active.py
  app/api/annotations.py
  app/api/dependencies/dependencies.py
  app/api/routers/grant.py
  app/api/routers/project.py
  app/api/schemas.py
  app/main.py
  app/models/__init__.py
  app/models/grant.py
  app/models/project.py
  app/status_codes.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.8.0] Реализованы эндпоинты /grants/* для создания кода доступа к проекту и его активации
  app/main.py
Due: no_implicit_optional

фикс 500
  app/api/routers/project.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.9.0] Добавлена ручка для получения списка пользователей с доступом к проекту
  app/api/routers/grant.py
  app/api/schemas.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.9.1] Исправлена работа с бд
  app/api/routers/grant.py
  app/auth.py
  app/database.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.9.2] Выставлен operation_id для списка пользователей с доступом к проекту
  app/api/routers/grant.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.10.0] [WIP] Отзыв доступа
  app/alembic/versions/0f3211e971fe_add_owner_user_id.py
  app/api/routers/grant.py
  app/api/routers/project.py
  app/main.py
  app/models/grant.py
  app/models/project.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.10.1] [WIP] Отзыв доступа
  app/api/routers/project.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.10.2] [WIP] Отзыв доступа
  app/alembic/versions/1170617d3960_nullable_false_for_level_and_code.py
  app/main.py
  app/models/grant.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.10.3] [WIP] Отзыв доступа
  app/api/routers/project.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.10.4] [WIP] Отзыв доступа, удален грант OWNER
  app/alembic/versions/c04055943bac_remove_owner_grant.py
  app/api/routers/grant.py
  app/models/grant.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.10.4] [WIP] Отзыв доступа, удален грант OWNER
  app/main.py
Due: no_implicit_optional

[1.10.4] [WIP] Отзыв доступа, удален грант OWNER
  app/alembic/versions/c04055943bac_remove_owner_grant.py
Due: no_implicit_optional

[1.10.5] [WIP] Отзыв доступа, удален грант OWNER
  app/api/annotations.py
  app/api/routers/grant.py
  app/api/routers/project.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.10.5] [WIP] Отзыв доступа, удален грант OWNER
  app/api/routers/grant.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.10.6] fix: запрет выдачи кода доступа к чужому проекту, запрет получения списка пользователей с доступом к проекту для чужих проектов (чужие - где пользователь не владелец)
  app/api/annotations.py
  app/api/dependencies/dependencies.py
  app/api/routers/grant.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.10.6] fix: запрет выдачи кода доступа к чужому проекту, запрет получения списка пользователей с доступом к проекту для чужих проектов (чужие - где пользователь не владелец)
  app/api/routers/grant.py
  app/status_codes.py
Due: no_implicit_optional, isort, autoflake, black, pylint

Path conditions:
  no_implicit_optional: any of: \.py$
  isort: any of: ^(app/api|app/models) and \.py$
  autoflake: any of: ^(app/api|app/models) and \.py$
  black: any of: ^(app/api|app/models) and \.py$
  pylint: any of: ^(app/api|app/models) and \.py$
