Repository samplec0de/lyrics-ide-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: no_implicit_optional, isort, autoflake, black, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: no_implicit_optional
        name: no_implicit_optional
        entry: bash -c 'no_implicit_optional --use-union-or "$@"' --
        language: system
        types: [python]
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]
        files: ^(app/api|app/models)
        args: [
            '--line-length=120',
            '--multi-line=3',
            '--force-grid-wrap=0',
            '--trailing-comma',
            '--use-parentheses',
            '--ensure-newline-before-comments',
        ]
      - id: autoflake
        name: autoflake
        entry: autoflake
        language: python
        types: [ python ]
        require_serial: true
        files: ^(app/api|app/models)
        args:
          - "--in-place"
          - "--expand-star-imports"
          - "--remove-duplicate-keys"
          - "--remove-unused-variables"
          - "--remove-all-unused-imports"
          - "--ignore-pass-after-docstring"
      - id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        files: ^(app/api|app/models)
        args:
          [
            "-l", "120",
            "-t", "py312"
          ]
      - id: pylint
        name: pylint
        entry: bash -c 'PYTHONPATH=. pylint "$@"' --
        language: system
        types: [python]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
            "--rcfile=.pylintrc",
            "--ignore-imports=true"
          ]
        files: ^(app/api|app/models)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [--config-file=mypy.ini]
        files: ^(app/api|app/models)
        language_version: "3.12"
        additional_dependencies:
          - types-requests==2.31.0.20240106
          - types-python-jose==3.3.4.20240106
          - SQLAlchemy==2.0.25
          - fastapi[all]==0.108.0
          - pydantic==2.5.3
          - numpy==1.26.3
          - aiohttp==3.9.1
          - motor==3.3.2

Тесты на word_utils.py
  requirements.tests.txt
  tests/__init__.py
  tests/conftest.py
  tests/functional_tests/__init__.py
  tests/unit_tests/__init__.py
  tests/unit_tests/test_word_utils.py
Due: no_implicit_optional

Тесты на s3_helpers.py
  app/api/routers/music.py
  app/api/routers/project.py
  app/s3_helpers.py
  tests/unit_tests/test_s3.py
Due: no_implicit_optional, isort, autoflake, black, pylint

Тесты
  tests/conftest.py
  tests/functional_tests/test_utils/__init__.py
  tests/functional_tests/test_utils/jwt_generator.py
Due: no_implicit_optional

Тесты
  tests/functional_tests/test_completions.py
  tests/functional_tests/test_grant.py
  tests/functional_tests/test_music.py
  tests/functional_tests/test_projects.py
  tests/functional_tests/test_texts.py
  tests/functional_tests/test_tiptap.py
  tests/functional_tests/test_user.py
  tests/functional_tests/test_word.py
Due: no_implicit_optional

Тесты
  tests/functional_tests/test_complex.py
Due: no_implicit_optional

CORS lirix.xyz
  app/main.py
Due: no_implicit_optional

Удалены неактуальные тесты
  tests/functional_tests/test_completions.py
  tests/functional_tests/test_complex.py
  tests/functional_tests/test_grant.py
  tests/functional_tests/test_music.py
  tests/functional_tests/test_projects.py
  tests/functional_tests/test_texts.py
  tests/functional_tests/test_tiptap.py
  tests/functional_tests/test_user.py
  tests/functional_tests/test_word.py
Due: no_implicit_optional

Тест аутентификации
  app/database.py
  app/main.py
  app/models/email_auth_code.py
  app/models/grant.py
  app/models/music.py
  app/models/project.py
  app/models/text.py
  app/models/user.py
  app/models/uuid_type.py
  app/models/word_meaning.py
  app/static/auth_yandex.html
  app/static/auth_yandex_redirect.html
  requirements.tests.txt
  tests/conftest.py
  tests/integration_tests/__init__.py
  tests/integration_tests/test_auth.py
  tests/integration_tests/test_utils/__init__.py
  tests/integration_tests/test_utils/jwt_generator.py
  tests/pytest.ini
Due: no_implicit_optional, isort, autoflake, black, pylint

Асихронный клиент в тестах
  tests/conftest.py
  tests/integration_tests/test_auth.py
Due: no_implicit_optional

Асихронный клиент в аутентификации через Яндекс
  app/api/routers/auth.py
  app/auth.py
  requirements.txt
  tests/integration_tests/.coveragerc
Due: no_implicit_optional, isort, autoflake, black, pylint

Фикстура авторизованного клиента
  tests/conftest.py
  tests/integration_tests/test_auth.py
Due: no_implicit_optional

Тесты автодополнения
  tests/integration_tests/test_completions.py
Due: no_implicit_optional

Убран неиспользуемый код в тестах
  tests/integration_tests/test_utils/__init__.py
  tests/integration_tests/test_utils/jwt_generator.py
Due: no_implicit_optional

[1.24.0] Удален endpoint TipTap, который выдавал токен на все тексты, ускорен вход через Яндекс
  app/api/routers/tiptap.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

Тесты получения значений слова
  tests/integration_tests/test_word.py
Due: no_implicit_optional

Тесты получения синонимов и рифм
  tests/integration_tests/.coveragerc
  tests/integration_tests/test_word.py
Due: no_implicit_optional

[1.25.0] Убрана mongodb
  app/api/dependencies/core.py
  app/api/routers/project.py
  app/api/routers/text.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

Тест создания проекта
  app/api/schemas.py
  tests/conftest.py
  tests/integration_tests/test_client/__init__.py
  tests/integration_tests/test_client/components/__init__.py
  tests/integration_tests/test_client/components/grants.py
  tests/integration_tests/test_client/components/music.py
  tests/integration_tests/test_client/components/projects.py
  tests/integration_tests/test_client/components/text.py
  tests/integration_tests/test_client/lyrics.py
  tests/integration_tests/test_projects.py
Due: no_implicit_optional, isort, autoflake, black, pylint

Тесты проектов
  tests/integration_tests/test_client/components/projects.py
  tests/integration_tests/test_client/components/text.py
  tests/integration_tests/test_projects.py
Due: no_implicit_optional

Тесты проектов
  tests/integration_tests/test_client/components/projects.py
  tests/integration_tests/test_projects.py
Due: no_implicit_optional

Убрана лишняя зависимость pymongo
  requirements.txt
Due: none

Тесты получения пользователя
  tests/conftest.py
  tests/integration_tests/test_client/components/exceptions.py
  tests/integration_tests/test_client/components/user.py
  tests/integration_tests/test_client/lyrics.py
  tests/integration_tests/test_users.py
Due: no_implicit_optional

commit() в health чтобы не было rollback()
  app/api/routers/health.py
Due: no_implicit_optional, isort, autoflake, black, pylint

Тесты health
  tests/integration_tests/test_health.py
Due: no_implicit_optional

Тесты текстов + фикс безопасности при доступе к текстам
  app/api/annotations.py
  app/api/dependencies/dependencies.py
  app/api/routers/text.py
  tests/conftest.py
  tests/integration_tests/test_auth.py
  tests/integration_tests/test_client/components/exceptions.py
  tests/integration_tests/test_client/components/projects.py
  tests/integration_tests/test_client/components/text.py
  tests/integration_tests/test_client/lyrics.py
  tests/integration_tests/test_texts.py
Due: no_implicit_optional, isort, autoflake, black, pylint

Тесты удаления не существующего и чужого проектов, получение не существующего проекта
  tests/integration_tests/test_client/components/projects.py
  tests/integration_tests/test_projects.py
Due: no_implicit_optional

Удалены лишние функции
  app/database.py
Due: no_implicit_optional

Удалены вспомогательные функции для mongodb
  app/mongodb.py
Due: no_implicit_optional

Удалены вспомогательные функции для mongodb
  app/main.py
Due: no_implicit_optional

Фикс: удалена возможность повторной активации текущего активного кода
  app/api/routers/grant.py
Due: no_implicit_optional, isort, autoflake, black, pylint

Фикс: leave_project
  app/api/routers/grant.py
Due: no_implicit_optional, isort, autoflake, black, pylint

Тесты: grants
  app/api/routers/grant.py
  tests/integration_tests/test_client/components/exceptions.py
  tests/integration_tests/test_client/components/grant_level.py
  tests/integration_tests/test_client/components/grants.py
  tests/integration_tests/test_client/components/projects.py
  tests/integration_tests/test_client/lyrics.py
  tests/integration_tests/test_grants.py
  tests/integration_tests/test_projects.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.26.0]
  app/main.py
Due: no_implicit_optional

Тест удаления проекта при наличии на него грантов
  app/api/routers/project.py
  tests/integration_tests/test_grants.py
  tests/integration_tests/test_projects.py
Due: no_implicit_optional, isort, autoflake, black, pylint

Тесты музыки + фиксы прав
  app/api/routers/music.py
  app/api/routers/project.py
  app/main.py
  tests/integration_tests/test_client/components/exceptions.py
  tests/integration_tests/test_client/components/music.py
  tests/integration_tests/test_client/components/projects.py
  tests/integration_tests/test_client/lyrics.py
  tests/integration_tests/test_data/metro_200bpm_5min.mp3
  tests/integration_tests/test_data/metronome.mp3
  tests/integration_tests/test_music.py
  tests/integration_tests/test_projects.py
Due: no_implicit_optional, isort, autoflake, black, pylint

Тесты интеграции с TipTap
  app/api/routers/tiptap.py
  tests/integration_tests/test_client/components/tiptap.py
  tests/integration_tests/test_client/lyrics.py
  tests/integration_tests/test_tiptap.py
Due: no_implicit_optional, isort, autoflake, black, pylint

1.28.0
  app/main.py
Due: no_implicit_optional

add tests to pre-commit
  .gitignore
  .pre-commit-config.yaml
  tests/integration_tests/test_word.py
Due: no_implicit_optional

[1.29.0] Исправлена настройка линтеров, из-за которой многие файлы не проверялись. Исправлены недочеты в этих файлах.
  .pre-commit-config.yaml
  app/api/routers/music.py
  app/auth.py
  app/config.py
  app/database.py
  app/grant_utils.py
  app/llm.py
  app/mail.py
  app/main.py
  app/music_utils.py
  app/s3_helpers.py
  app/status_codes.py
  app/word_utils.py
  tests/conftest.py
  tests/integration_tests/test_auth.py
  tests/integration_tests/test_client/__init__.py
  tests/integration_tests/test_client/components/exceptions.py
  tests/integration_tests/test_client/components/grant_level.py
  tests/integration_tests/test_client/components/grants.py
  tests/integration_tests/test_client/components/music.py
  tests/integration_tests/test_client/components/projects.py
  tests/integration_tests/test_client/components/text.py
  tests/integration_tests/test_client/components/tiptap.py
  tests/integration_tests/test_client/components/user.py
  tests/integration_tests/test_client/lyrics.py
  tests/integration_tests/test_completions.py
  tests/integration_tests/test_grants.py
  tests/integration_tests/test_health.py
  tests/integration_tests/test_music.py
  tests/integration_tests/test_projects.py
  tests/integration_tests/test_texts.py
  tests/integration_tests/test_tiptap.py
  tests/integration_tests/test_users.py
  tests/integration_tests/test_word.py
  tests/unit_tests/test_s3.py
  tests/unit_tests/test_word_utils.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.29.1] Лимит custom_bpm=999
  app/api/routers/music.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint
