Repository samplec0de/lyrics-ide-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: no_implicit_optional, isort, autoflake, black, pylint

no_implicit_optional:
  name: no_implicit_optional
  entry: bash -c 'no_implicit_optional --use-union-or "$@"' --
  language: system

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --line-length=120
  - --multi-line=3
  - --force-grid-wrap=0
  - --trailing-comma
  - --use-parentheses
  - --ensure-newline-before-comments

autoflake:
  name: autoflake
  entry: autoflake
  language: python
  require_serial: true
  args:
  - --in-place
  - --expand-star-imports
  - --remove-duplicate-keys
  - --remove-unused-variables
  - --remove-all-unused-imports
  - --ignore-pass-after-docstring

black:
  name: black
  entry: black
  language: system
  args:
  - -l
  - '120'
  - -t
  - py312

pylint:
  name: pylint
  entry: bash -c 'PYTHONPATH=. pylint "$@"' --
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc
  - --ignore-imports=true

Текст заменен на payload (произвольный JSON) и хранится в mongodb
  docker-compose.yml
Due: none

k8s
  docs/deployment/mongodb.md
  docs/deployment/postgresql.md
  k8s/backend/backend-ingress.yaml
  k8s/backend/backend-service.yaml
  k8s/backend/backend.yaml
  k8s/backend/letsencrypt.yaml
  k8s/helm/mongo-values.yaml
  k8s/helm/postgres-values.yaml
  k8s/namespace.yaml
Due: none

k8s deploy
  .github/workflows/deploy-prod.yml
  k8s/backend/backend-ingress.yaml
  k8s/backend/backend-service.yaml
  k8s/backend/backend.yaml
  k8s/backend/letsencrypt.yaml
Due: none

k8s deploy
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-raspberypi.yml
Due: none

k8s deploy
  .github/workflows/deploy-prod.yml
Due: none

fix k8s deploy
  .github/workflows/deploy-prod.yml
Due: none

debug k8s deploy
  .github/workflows/deploy-prod.yml
Due: none

fix k8s deploy
  .github/workflows/deploy-prod.yml
  k8s/manifests/backend-ingress.yaml
  k8s/manifests/backend-service.yaml
  k8s/manifests/backend.yaml
  k8s/manifests/letsencrypt.yaml
Due: none

add PATCH to allow_methods
  app/main.py
Due: no_implicit_optional

imagePullPolicy: "Always"
  k8s/manifests/backend.yaml
Due: none

generate_presigned_url in set_music_bpm
  app/api/routers/music.py
Due: no_implicit_optional, isort, autoflake, black, pylint

Add TipTap token issue endpoint
  app/api/routers/tiptap.py
  app/auth.py
  app/config.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

TipTap secret key
  app/api/routers/tiptap.py
  app/config.py
Due: no_implicit_optional, isort, autoflake, black, pylint

add CORS origin
  app/main.py
Due: no_implicit_optional

Изменение проекта
  app/api/routers/project.py
Due: no_implicit_optional, isort, autoflake, black, pylint

1.0.2
  app/main.py
Due: no_implicit_optional

CORS
  app/main.py
Due: no_implicit_optional

Исправлено отображение списка текстов при удалении музыки из проекта
  app/api/routers/music.py
Due: no_implicit_optional, isort, autoflake, black, pylint

Исправлено отображение списка текстов при удалении музыки из проекта
  app/main.py
Due: no_implicit_optional

[1.0.3] Исправлено отображение списка текстов при удалении музыки из проекта
  .github/workflows/deploy-prod.yml
  k8s/manifests/backend.yaml
Due: none

[1.0.4] автоматический редеплой подов бэкенда
  .github/workflows/deploy-prod.yml
  app/main.py
  k8s/manifests/backend.yaml
Due: no_implicit_optional

[1.0.5] Обновлены версии библиотек (в старых были найдены уязвимости)
  app/alembic/versions/1d0defd3744e_remove_text_url.py
  app/alembic/versions/20141e8b222b_init.py
  app/alembic/versions/3272f5c22730_optional_bpm.py
  app/alembic/versions/67ebf262ad8c_add_text_model.py
  app/alembic/versions/6e8d60461d89_word_meaning.py
  app/alembic/versions/99d0ee737810_add_name_to_text_model.py
  app/alembic/versions/a9cdc1e2729e_optional_custom_bpm.py
  app/alembic/versions/c55aeb86b034_duration_seconds_float.py
  app/main.py
  requirements.txt
Due: no_implicit_optional

[1.1.0] Дополнение с помощью gpt3,5-turbo от openai
  .pre-commit-config.yaml
  app/api/routers/completions.py
  app/api/schemas.py
  app/config.py
  app/llm.py
  app/main.py
  requirements.txt
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.1.1] Запрет удаления единственного текста из проекта
  app/api/routers/text.py
  app/status_codes.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.1.1] Запрет удаления единственного текста из проекта
  app/main.py
Due: no_implicit_optional

[1.1.2] Автоматическое создание первого варианта текста вместе с созданием проекта
  app/api/routers/project.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.1.3] Разделен build и deploy
  .github/workflows/deploy-prod.yml
  app/main.py
Due: no_implicit_optional

[1.1.3] Разделен build и deploy
  .github/workflows/deploy-prod.yml
Due: none

actions/checkout@v2 -> actions/checkout@v4
  .github/workflows/deploy-prod.yml
Due: none

docker/setup-buildx-action@v1 -> docker/setup-buildx-action@v4
  .github/workflows/deploy-prod.yml
Due: none

[1.1.4] Обновление версий зависимостей github actions
  app/main.py
Due: no_implicit_optional

[1.1.4] Обновление версий зависимостей github actions
  .github/workflows/deploy-prod.yml
Due: none

Path conditions:
  no_implicit_optional: any of: \.py$
  isort: any of: ^(app/api|app/models) and \.py$
  autoflake: any of: ^(app/api|app/models) and \.py$
  black: any of: ^(app/api|app/models) and \.py$
  pylint: any of: ^(app/api|app/models) and \.py$
