Repository samplec0de/lyrics-ide-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: no_implicit_optional, isort, autoflake, black, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: no_implicit_optional
        name: no_implicit_optional
        entry: bash -c 'no_implicit_optional --use-union-or "$@"' --
        language: system
        types: [python]
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]
        files: ^(app/api|app/models)
        args: [
            '--line-length=120',
            '--multi-line=3',
            '--force-grid-wrap=0',
            '--trailing-comma',
            '--use-parentheses',
            '--ensure-newline-before-comments',
        ]
      - id: autoflake
        name: autoflake
        entry: autoflake
        language: python
        types: [ python ]
        require_serial: true
        files: ^(app/api|app/models)
        args:
          - "--in-place"
          - "--expand-star-imports"
          - "--remove-duplicate-keys"
          - "--remove-unused-variables"
          - "--remove-all-unused-imports"
          - "--ignore-pass-after-docstring"
      - id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        files: ^(app/api|app/models)
        args:
          [
            "-l", "120",
            "-t", "py312"
          ]
      - id: pylint
        name: pylint
        entry: bash -c 'PYTHONPATH=. pylint "$@"' --
        language: system
        types: [python]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
            "--rcfile=.pylintrc",
            "--ignore-imports=true"
          ]
        files: ^(app/api|app/models)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [--config-file=mypy.ini]
        files: ^(app/api|app/models)
        language_version: "3.12"
        additional_dependencies:
          - types-requests==2.31.0.20240106
          - types-python-jose==3.3.4.20240106
          - SQLAlchemy==2.0.25
          - fastapi[all]==0.108.0
          - pydantic==2.5.3
          - numpy==1.26.3
          - aiohttp==3.9.1
          - motor==3.3.2

[1.10.6] fix: запрет выдачи кода доступа к чужому проекту, запрет получения списка пользователей с доступом к проекту для чужих проектов (чужие - где пользователь не владелец)
  app/status_codes.py
Due: no_implicit_optional

[1.10.7] fix: запрет изменения чужого проекта, запрет получения информации о проекте, к которому нет доступа
  app/api/annotations.py
  app/api/dependencies/dependencies.py
  app/api/routers/project.py
  app/main.py
  app/models/grant.py
  app/status_codes.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.10.8] fix: запрет повторной активации кода тем же пользователем
  app/api/routers/grant.py
  app/status_codes.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.10.8] fix: запрет активации кода владельцем проекта
  app/api/dependencies/dependencies.py
  app/api/routers/grant.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.10.9] fix: отзыв доступа (с точки зрения API, все еще не TipTap)
  app/api/dependencies/dependencies.py
  app/api/routers/project.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.12.0] Добавлена ручка /tiptap/token/{text_id}, получение списка кодов доступа к проекту
  app/api/routers/grant.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.13.0] Добавлена ручка деактивации кода доступа (блок новых подключений)
  app/api/routers/grant.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.13.0] Добавлена ручка деактивации кода доступа (блок новых подключений)
  app/api/routers/grant.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.13.1] При активации нового кода по проекту где уже есть права происходит перезапись
  app/api/routers/grant.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.13.1] При активации нового кода по проекту где уже есть права происходит перезапись
  app/api/routers/grant.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.14.0] Добавлена ручка изменения уровня доступа пользователя (READ_WRITE -> READ_ONLY, READ_ONLY -> READ_WRITE)
  app/api/routers/grant.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.14.0] Добавлена ручка изменения уровня доступа пользователя (READ_WRITE -> READ_ONLY, READ_ONLY -> READ_WRITE)
  app/main.py
Due: no_implicit_optional

[1.14.1] Исправлено удаление проектов (каскадное удаление всех грантов, кодов, текстов, музыки)
  app/api/routers/music.py
  app/api/routers/project.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.14.2] Исправлен промпт автокомплита
  app/config.py
  app/main.py
Due: no_implicit_optional

[1.14.3] В create_completion, когда completion_input.text="", не производится обращение в openai. Возвращается [].
  app/api/routers/completions.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.15.0] Добавлен атрибут owner_user_id в ProjectOut
  app/api/routers/music.py
  app/api/routers/project.py
  app/api/schemas.py
  app/config.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.15.1] Фикс: аутентификация через яндекс
  app/api/routers/auth.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.15.2] Фикс: аутентификация через яндекс
  app/api/routers/auth.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.15.2] Фикс: аутентификация через яндекс
  requirements.txt
Due: none

[1.15.3] Фикс: аутентификация через яндекс
  app/api/routers/auth.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.15.4] Фикс: аутентификация через яндекс
  app/api/routers/auth.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.16.0] В схему проекта добавлено поле bool is_owner
  app/api/routers/music.py
  app/api/routers/project.py
  app/api/schemas.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.17.0] В JWT добавлен user_id
  app/api/routers/auth.py
  app/auth.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.18.0] get_user: Получить информацию о пользователе
  app/api/routers/auth.py
  app/api/routers/user.py
  app/api/schemas.py
  app/auth.py
  app/main.py
  app/status_codes.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.18.1] Фикс 500 (user_id uuid pydantic)
  app/auth.py
Due: no_implicit_optional

[1.18.2] Фикс 500 (user_id uuid pydantic)
  app/auth.py
  app/main.py
Due: no_implicit_optional

[1.18.3] Фикс 500 (user_id uuid pydantic)
  app/api/routers/auth.py
  app/auth.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.19.0] В ProjectGrant добавлено поле is_active
  app/api/routers/grant.py
  app/api/schemas.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.20.0] В ProjectGrant добавлено поле grant_code_id
  app/api/routers/grant.py
  app/api/schemas.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.20.1] update_project_access разблокирует доступ пользователя
  app/api/routers/grant.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.20.2] Фикс разбана
  app/api/routers/grant.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.20.3] При разбане выбор последнего, а не случайного кода активации
  app/api/routers/grant.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.21.0] revoke_project_access возвращает ProjectGrant вместо null
  app/api/routers/grant.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.21.1] фикс revoke_project_access
  app/api/routers/grant.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.21.1] фикс revoke_project_access
  app/main.py
Due: no_implicit_optional

[1.21.2] фикс delete_project по части удаления не владельцем
  app/api/routers/project.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.22.0] grant_level добавлен к проекту
  app/api/routers/music.py
  app/api/routers/project.py
  app/api/schemas.py
  app/grant_utils.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.23.0] Ручка leave_project для самобана
  app/api/routers/grant.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.23.0] Ручка leave_project для самобана
  app/main.py
Due: no_implicit_optional

удален лишний комментарий
  app/api/routers/grant.py
Due: no_implicit_optional, isort, autoflake, black, pylint
