Repository samplec0de/lyrics-ide-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: no_implicit_optional, isort, autoflake, black, pylint

no_implicit_optional:
  name: no_implicit_optional
  entry: bash -c 'no_implicit_optional --use-union-or "$@"' --
  language: system

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --line-length=120
  - --multi-line=3
  - --force-grid-wrap=0
  - --trailing-comma
  - --use-parentheses
  - --ensure-newline-before-comments

autoflake:
  name: autoflake
  entry: autoflake
  language: python
  require_serial: true
  args:
  - --in-place
  - --expand-star-imports
  - --remove-duplicate-keys
  - --remove-unused-variables
  - --remove-all-unused-imports
  - --ignore-pass-after-docstring

black:
  name: black
  entry: black
  language: system
  args:
  - -l
  - '120'
  - -t
  - py312

pylint:
  name: pylint
  entry: bash -c 'PYTHONPATH=. pylint "$@"' --
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc
  - --ignore-imports=true

add tests to ci/cd
  .github/workflows/deploy-prod.yml
  requirements.tests.txt
Due: none

Убран docker-compose
  docker-compose.dev.yml
  docker-compose.yml
Due: none

mongo удален из настроек
  .github/workflows/deploy-prod.yml
  app/config.py
Due: no_implicit_optional, autoflake, black, pylint

env in ci/cd
  .github/workflows/deploy-prod.yml
Due: none

ci/cd: install requirements
  .github/workflows/deploy-prod.yml
Due: none

ci/cd: ffmpeg
  .github/workflows/deploy-prod.yml
Due: none

ci/cd: sudo
  .github/workflows/deploy-prod.yml
Due: none

[1.30.0] Убран resample из определения bpm
  app/main.py
  app/music_utils.py
Due: no_implicit_optional, autoflake, black, pylint

Исключение файлов из pre-commit тестов
  .pre-commit-config.yaml
Due: none

Убрана зависимость от motor
  .pre-commit-config.yaml
  requirements.txt
Due: none

ci/cd: cache
  .github/workflows/deploy-prod.yml
Due: none

ci/cd: setup-python@v5
  .github/workflows/deploy-prod.yml
Due: none

ci/cd: merge-coverage
  .github/workflows/deploy-prod.yml
Due: none

ci/cd: upload coverage
  .github/workflows/deploy-prod.yml
Due: none

ci/cd: upload coverage v4
  .github/workflows/deploy-prod.yml
Due: none

ci/cd: coverage
  .github/workflows/deploy-prod.yml
Due: none

ci/cd: coverage raw db
  .github/workflows/deploy-prod.yml
Due: none

ci/cd: coverage raw db fix
  .github/workflows/deploy-prod.yml
Due: none

ci/cd: fix merge coverage
  tests/unit_tests/.coveragerc
Due: none

[1.31.0] Удаление текстов из TipTap
  .github/workflows/deploy-prod.yml
  app/api/annotations.py
  app/api/dependencies/dependencies.py
  app/api/routers/text.py
  app/config.py
  app/main.py
  app/tiptap_utils.py
Due: no_implicit_optional, isort, autoflake, black, pylint

setup-python@v5
  .github/workflows/deploy-prod.yml
Due: none

[1.31.1] Удаление текстов из TipTap
  app/api/routers/text.py
  app/main.py
  app/tiptap_utils.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.32.0] При изменении текста через TipTap обновляется updated_at в API
  app/api/routers/tiptap.py
  app/main.py
  tests/integration_tests/test_tiptap.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.32.1] При изменении текста через TipTap обновляется updated_at у текста и проекта
  app/api/routers/tiptap.py
  tests/integration_tests/test_tiptap.py
Due: no_implicit_optional, isort, autoflake, black, pylint

[1.32.2] При изменении текста через TipTap обновляется updated_at у текста и проекта
  app/api/routers/tiptap.py
  app/main.py
Due: no_implicit_optional, isort, autoflake, black, pylint

Добавлен CHANGELOG.md
  CHANGELOG.md
Due: none

Улучшен CHANGELOG.md
  CHANGELOG.md
Due: none

Улучшен README.md
  README.md
Due: none

[1.33.0] При поиске значения слова добавляются нормальные формы всех значений этого слова
  CHANGELOG.md
  app/main.py
  app/word_utils.py
  mypy.ini
  requirements.txt
  tests/integration_tests/test_word.py
Due: no_implicit_optional, autoflake, black, pylint

Path conditions:
  no_implicit_optional: any of: \.py$
  isort: any of: ^(app/api|app/models) and \.py$
  autoflake: any of: ^(app|tests) and \.py$ and not (^(app/alembic))
  black: any of: ^(app|tests) and \.py$ and not (^(app/alembic))
  pylint: any of: ^(app|tests) and \.py$ and not (^(app/alembic))
